<?xml version="1.0"?>
<robot name="vacuum_gripper" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:property name="M_PI" value="3.1415926535897931" />

    <xacro:macro name="vacuum_gripper" params="prefix parent *origin ">

        <joint name="${prefix}_base_joint" type="revolute">
            <insert_block name="origin" />
            <parent link="${parent}" />
            <child link="vacuum_gripper_base_link" />
            <limit effort="30" velocity="1.0" lower="0" upper="0" />            
        </joint>

        <link name="vacuum_gripper_base_link">
            <gravity>0</gravity>
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <box size="0.01 0.01 0.01" />
                </geometry>
                <material name="transparent">
                    <color rgba="0 0 0 0" />
                </material>
            </visual>
            <inertial>
                <origin rpy="0 0 0" xyz="0.000000 0.000000 0.000000" />
                <mass value="0.0001" />
                <inertia ixx="1e-08" ixy="0" ixz="0" iyy="1e-08" iyz="0" izz="1e-08" />
            </inertial>
        </link>
        
        <gazebo>
            <plugin name="gazebo_ros_vacuum_gripper" filename="libgazebo_ros_vacuum_gripper.so">
                <!-- <robotNamespace>/</robotNamespace> -->
                <bodyName>vacuum_gripper_base_link</bodyName>
                <topicName>vacuum_gripper</topicName>
            </plugin>
        </gazebo>

    </xacro:macro>

</robot>